@using WebApplication1.Infrastructure

@model IEnumerable<WebApplication1.DTO.CustomerModel>

@{
    ViewBag.Title = "Trang chủ";
}

<div class="container">

    <h1>Quản lý thông tin khách hàng</h1>

    <!-- Add New -->
    <div class="row">
        <a href="javascript:" data-id="0" class="btn btn-default ctrlEdit">Thêm mới</a>
    </div>

    <!-- HTML Table -->
    <div class="row">
        <div style="overflow-x:auto;margin: 10px 0px" class="table-responsive">
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>
                            <span>STT</span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DoB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YoB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var lst = Model as List<CustomerModel>;

                        for (var i = 0; i < lst.Count; i++)
                        {
                            var item = lst[i];
                            <tr>
                                <td>
                                    @(i+1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DoBInStr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YoB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    <a href="javascript:" data-id="@item.Id" class="btn btn-default ctrlEdit">Sửa</a>
                                    <a href="javascript:" data-id="@item.Id" class="btn btn-default ctrlDetails">Xem</a>
                                    <a href="javascript:" data-id="@item.Id" class="btn btn-default ctrlDelete">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-fullscreen" id="modalLarge" tabindex="-1" role="dialog" aria-labelledby="modalLargeLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLargeLabel">Sửa tiêu đề ở đây</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ctrlClose" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-default ctrlSave">
                    <span class="d-none d-md-inline d-md-none">Lưu lại</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->

@section scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>

        $(function () {
            $(document).on('click', '#ctrlChangePassword', function () {
                $('#modalLarge').modal('show');
            });
        });

        $(function () {

            $(document).on('click', '.ctrlEdit', function (e) {
                $('.ctrlClose').text("Thoát");
                $('.ctrlSave').show();
                $('.ctrlSave').text("Lưu lại");
                let customerId = $(e.target).data('id') * 1;
                if (customerId === 0) $('#modalLargeLabel').text('Thêm mới khách hàng');
                else $('#modalLargeLabel').text('Sửa thông tin khách hàng');
                $('.modal-content .modal-body').empty();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetDataForEdit", "Customer")",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    data: { "customerId": customerId },
                    success: function (data) {

                        // Update modal content
                        $('.modal-content .modal-body').append(data);

                        // Show modal
                        $('#modalLarge').modal('show');

                        // Bootstrap Datetimepicker
                        $('#DoBInStr').datepicker({
                            dateFormat: "@AppConstants.DateFormatJS",
                            autoclose: true,
                        });

                    },
                    error: function (request, status, error) {
                        alert("Lỗi rồi: " + request.responseText);
                    }
                });
            });

            $(document).on('click', '.ctrlDetails', function (e) {
                $('.ctrlClose').text("Thoát");
                $('.ctrlSave').hide();
                $('.modal-content .modal-body').empty();
                $('#modalLargeLabel').text('Xem thông tin khách hàng');
                $('#modalLarge').modal('show');
            });

            $(document).on('click', '.ctrlDelete', function (e) {
                $('.ctrlClose').text("Thoát");
                $('.ctrlSave').show();
                $('.ctrlSave').text("Xóa");
                $('.modal-content .modal-body').empty();
                $('#modalLargeLabel').text('Xóa thông tin khách hàng');
                $('#modalLarge').modal('show');
            });
        });

        $(function () {

            $(document).on('click', '.ctrlClose', function (e) {
                $('#modalLarge').modal('hide');
            });

            $(document).on('click', '.ctrlSave', function (e) {
                //Validate Form
                $("#frmCustomer").validate();

                //Validate Form
                let isFormValid = $("#frmCustomer").valid();

                //Custom Validate Form
                let doB = $('#DoBInStr').val().split("/")[2];
                let year1 = doB * 1;
                if (year1 < 18 || year1 > 9999) {
                    isFormValid = false;
                    alert('Năm sinh phải lớn hơn 17 và nhỏ hơn 9999');
                    return;
                }
                let year2 = $('#YoB').val() * 1;
                if (year2 < 18 || year2 > 9999) {
                    isFormValid = false;
                    alert('Năm sinh phải lớn hơn 17 và nhỏ hơn 9999');
                    return;
                }
                if (year2 !== year1) {
                    isFormValid = false;
                    alert('Năm sinh phải lớn hơn 17 và nhỏ hơn 9999');
                    return;
                }
                if (isFormValid) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Save", "Customer")",
                        data: $("#frmCustomer").serialize(),
                        success: function (registerSuccess) {

                            if (registerSuccess) {
                                alert('Lưu lại thành công!');
                                $('#modalLarge').modal('hide');
                                $(".modal-backdrop").remove();
                            } else {
                                alert('Lưu lại thất bại!');
                            }
                        },
                        error: function (request, status, error) {
                            alert("Lỗi rồi: " + request.responseText);
                        }
                    });
                } else {
                    alert("Dữ liệu nhập không đúng định dạng. Vui lòng kiểm tra lại.");
                    return;
                }
            });
        });

        $(function () {
             table = $('#myTable').DataTable({
                "columnDefs": [
                    { "orderable": true, "targets": [0, 1, 2, 3, 4, 5, 6, 7] },
                    { "orderable": false, "targets": [8] }
                 ],
                 language: {
                     url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/vi.json',
                 },
            });
        });

        $(function () {
            $(document).on('click', '#ctrlLogout', function () {
                $('#frmLogout').submit();
            });

            $(document).on('keypress', '#YoB', function (evt) {
                // Only ASCII character in that range allowed
                var ASCIICode = (evt.which) ? evt.which : evt.keyCode;
                if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) {
                    return false;
                }
                return true;
            });

            $(document).on('keypress', '#Mobile', function (evt) {
                // Only ASCII character in that range allowed
                var ASCIICode = (evt.which) ? evt.which : evt.keyCode;
                if (ASCIICode === 43) {
                    return true;
                }
                if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) {
                    return false;
                }
                return true;
            });
        });

        //Global Variable JavaScript
        var table;
    </script>
}