<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quản lý thông tin khách hàng</title>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Images/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Images/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Images/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/site.webmanifest")">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- START NAVIGATION -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("CRMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                @*<ul class="navbar-nav flex-grow-1"></ul>*@
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Về chúng tôi", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <a class="nav-link" href="javascript:void(0)" id="ctrlChangePassword">Xin chào <strong>@Html.Encode(User.Identity.Name)</strong></a>
                        }
                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                            {
                                <a class="nav-link" href="javascript:void(0)" onclick="document.forms[0].submit();">Đăng xuất</a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVIGATION -->
    <!-- START BODY -->
    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- END BODY -->
    <!-- START FOOTER -->
    <div class="container container-footer">
        <footer class="blog-footer ">
            <ul class="nav blog-social mx-auto justify-content-center">
                <li style="margin-left: 5px;">
                    <a class="item-fb" data-toggle="tooltip" title="follow on Facebook" target="_blank" href="https://www.facebook.com/profile.php?id=61550293734940" rel="external nofollow" style="width:48px;height:48px;margin-left: 5px;">
                        <img src="@Url.Content("~/Images/facebook-48x48.png")" alt="follow on Facebook" title="follow on Facebook" style="width: 100%;height: 100%;" />
                    </a>
                </li>
                <li style="margin-left: 5px;">
                    <a class="item-fb" data-toggle="tooltip" title="follow on Facebook" target="_blank" href="https://www.facebook.com/groups/1278275502874169" rel="external nofollow" style="width:48px;height:48px;margin-left: 5px;">
                        <img src="@Url.Content("~/Images/facebook-48x48.png")" alt="follow on Facebook" title="follow on Facebook" style="width: 100%;height: 100%;" />
                    </a>
                </li>
                <li style="margin-left: 5px;">
                    <a class="item-gp" data-toggle="tooltip" title="follow on Zalo" target="_blank" href="https://zalo.me/84852942023" rel="external nofollow" style="width:48px;height:48px;margin-left: 5px;">
                        <img src="@Url.Content("~/Images/zalo-48x48.png")" alt="follow on Zalo" title="follow on Zalo" style="width: 100%;height: 100%;" />
                    </a>
                </li>
                <li style="margin-left: 5px;">
                    <a class="item-gp" data-toggle="tooltip" title="follow on Zalo" target="_blank" href="https://zalo.me/g/gsmhfz599" rel="external nofollow" style="width:48px;height:48px;margin-left: 5px;">
                        <img src="@Url.Content("~/Images/zalo-48x48.png")" alt="follow on Zalo" title="follow on Zalo" style="width: 100%;height: 100%;" />
                    </a>
                </li>
            </ul>
            <div class="blog-copyright mx-auto mt-3 text-center">
                <span class="d-block">&copy; @DateTime.Now.Year</span>
                <span>Designed by <a href="https://manhng.com" rel="nofollow" target="_blank">Manh Nguyen</a></span>
            </div>
        </footer>
    </div>
    <!-- END FOOTER -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
